@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Josefin+Sans:wght@300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.8;
  background-color: #f2f6f9;
  height: 100%;
  position: relative;
}

.brand-font {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 100;

  line-height: 1.8;
  position: absolute;
  top: 40%;
  left: 10%;
  right: 10%;
  color: white;
}

p {
  margin: 10px 0;
}

h1 {
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  background: #12192c;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  border: 0;
  border-radius: 5px;
}

.btn:hover {
  opacity: 0.8;
}

.btn-secondary {
  font: inherit;
  font-size: 13px;
  background: #000;
  color: #fff !important;
  border: 0;
  border-radius: 5px;
  padding: 5px 15px;
  margin: 0 20px;
  cursor: pointer;
}

.btn-secondary:hover {
  opacity: 0.8;
}

.btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-icon svg {
  margin-right: 5px;
}

.hoverup {
  transition: 0.3s;
}

.hoverup:hover {
  transform: translate(0, -2px);
}

.box {
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  padding: 15px;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 5px;
}

.img {
  flex: 1;
  margin: 10px;
}

.avatar-img {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.info {
  flex: 2;
}

/* flex styles */
.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: space-between;
}
.item {
  flex: 0 0 auto;
  margin: 10px;
}

.dist {
  height: 50px;
  width: auto;
  margin: 5px 100px;
}

.brandbg {
  background-color: #1f2937;
}

.whitefont {
  color: whitesmoke;
}

@media (max-width: 960px) {
  .box {
    flex-direction: column;
    text-align: center;
  }

  .info {
    margin-bottom: 20px;
  }

  .brand-font {
    font-family: "Josefin Sans", sans-serif;
    line-height: 1.8;
    position: absolute;
    top: 40%;
    left: 10%;
    right: 10%;
    color: white;
  }
}
